<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="utry.psd.call.center.monitor.dao.StateMonitoringDao">
	<resultMap type="utry.psd.call.center.monitor.Bo.StateMonitoringDto"
		id="StateMonitoringDto">
		<result property="staffNo" column="staff_no" />
		<result property="dateTime" column="date_time" />
		<result property="centerID" column="center_ID" />
		<result property="skillLineID" column="skill_line_ID" />
		<result property="groupIdOne" column="group_id_one" />
		<result property="groupIdTwo" column="group_id_two" />
		<result property="actStatus" column="act_STATUS" />
		<result property="totalDuration" column="total_duration" />
		<result property="direction" column="direction" />
		<result property="statusNum" column="status_num" />
	</resultMap>
	<select id="getStateMonitoringData" resultMap="StateMonitoringDto"
		parameterType="java.lang.String">
		SELECT
		staff_no,date_time,center_ID,skill_line_ID,group_id_one,group_id_one,act_STATUS,total_duration,direction,status_num
		FROM current_day_staff_status_statistics
		WHERE staff_no
		=#{staffno,jdbcType=VARCHAR} GROUP BY act_STATUS
	</select>
	<select id="xintiaotest" resultType="java.lang.Integer">
		SELECT 1
	</select>
</mapper>